[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PaulC93
[access "refs/for/refs/*"]
	read = group user/PaulC93
	push = group user/PaulC93
	label-Code-Review = -2..+2 group user/PaulC93
	label-Verified = -1..+1 group user/PaulC93
	rebase = group user/PaulC93
	removeReviewer = group user/PaulC93
	submit = group user/PaulC93
[access "refs/heads/*"]
	read = group user/PaulC93
	create = group user/PaulC93
	push = +force group user/PaulC93
	pushMerge = group user/PaulC93
[access "refs/tags/*"]
	push = group user/PaulC93
	push = +force group user/PaulC93
